@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Container styles */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1024px; /* max-w-screen-lg */
    margin: 16px auto; /* mx-auto mt-4 */
    padding: 20px 128px; /* py-5 px-32 */
    background-color: black;
  }
  
  /* Button row styles */
  .button-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px; /* Add some space between button row and input row */
  }
  
  /* Button styles */
  .button {
    font-size: 16px;
    font-weight: 500;
    border: none;
    background: none;
    color: white;
    padding: 0;
    margin: 0 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
  }
  
  .button:hover {
    text-decoration: none;
  }
  
  .button::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -10px;
    right: -10px;
    bottom: -5px;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
  }
  
  .button:hover::before {
    border-color: rgba(255, 255, 255, 0.8);
  }
  
  /* Input row styles */
  .input-row {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
  }
  
  /* Search input styles */
  .search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 120%;
    max-width: 600px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
  }
  
  .search-input:focus {
    outline: none;
    box-shadow: 0 0 5px rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
  }
  
  .holder {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    gap: 20px;
  }
  

.icons {
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease-out, color 0.2s ease-out;
}

.icons:hover {
  transform: scale(1.25);
  color: #fafafa;
}


.search-icon, .location-icon {
  font-size: 33px; /* Increased size */
}

.hold{
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
}

.hold .degree {
  background-color: black;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: medium;
}

.hold p {
  color: white;
}

.degree:hover {
  transform: scale(1.25);
  color: #fafafa;
}

.holding {
  display: flex;
  color: white;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
}

.date {
  margin: 0;
  font-weight: 300;
  padding-bottom: 30px;
}

.loc {
  margin: 0;
  font-weight:900;
  font-size: 24px;
}

.weather-condition {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  font-size: 1.25rem;
  color: white;
}

.weather-info {
  width: 800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 0.75rem 0;
  color: white;
}

.weather-icon {
  margin-right: 1rem;
  width: 5rem;
}

.temperature {
  margin-right: 1rem;
  font-size: 3rem;
  color: white;
}

.temperature-details {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: flex-start;
}

.detail {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 0.875rem;
  color: white;
}

.icon {
  margin-right: 0.25rem;
}

.label {
  margin-right: 0.25rem;
  font-weight: 500;
}

.value {
  font-weight: 500;
  margin-left: 0.25rem;
}
